.success, .error {
  color: white;
  padding: 10px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
  border-radius: 3px;
}

.error {
  background-color: rgba(255,0,0,0.7);
  border-radius: 3px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#212121;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
